.cart-page {
  padding: 60px;
  max-width: 1200px;
  margin: auto;
}

.cart-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
}

.cart-item {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.cart-item img {
  width: 120px;
  background: #f2f2f2;
}

.cart-info h3 {
  font-size: 18px;
  margin-bottom: 6px;
}

.cart-info select {
  margin-top: 10px;
}

.cart-info button {
  display: block;
  margin-top: 10px;
  border: none;
  background: none;
  color: red;
  cursor: pointer;
}

.cart-summary {
  border: 1px solid #ddd;
  padding: 30px;
}

.total {
  font-size: 20px;
  font-weight: bold;
}

.checkout-btn {
  margin-top: 20px;
  width: 100%;
  padding: 14px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}

.empty-cart {
  padding: 80px;
  text-align: center;
}
