.footer {
  background: black;
  color: white;
  padding: 80px 60px;
}

.footer-container {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1.5fr;
  gap: 60px;
}

.footer h4 {
  color: red;
  margin-bottom: 20px;
}

.footer ul {
  list-style: none;
}

.footer ul li {
  margin-bottom: 12px;
  cursor: pointer;
}

.footer ul li:hover {
  color: red;
}
