/* TOP BAR */
.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 40px;
  background: white;
}

/* SEARCH */
.search-box {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #ccc;
  padding: 8px 12px;
  border-radius: 6px;
}

.search-box input {
  border: none;
  outline: none;
}

/* LOGO */
.logo {
  display: flex;
  align-items: center;
}

.logo-link {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: black;
}

.logo-img {
  height: 80px;
}

/* ICONS */
.top-icons {
  display: flex;
  gap: 20px;
  font-size: 18px;
}

/* NAVBAR */
.navbar {
  background: black;
}

.navbar ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.navbar li {
  position: relative;
  padding: 15px 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.navbar a:hover {
  color: #ff2e2e;
}

/* DROPDOWN */
.arrow {
  margin-left: 4px;
  font-size: 10px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  min-width: 180px;
  display: none;
  flex-direction: column;
  box-shadow: 0 6px 20px rgba(0,0,0,0.2);
  z-index: 1000;
}

.dropdown-menu a {
  padding: 12px 16px;
  color: black;
}

.dropdown-menu a:hover {
  background: #f5f5f5;
}

.dropdown:hover .dropdown-menu {
  display: flex;
}
.cart-icon {
  position: relative;
  font-size: 22px;
}

.cart-badge {
  position: absolute;
  top: -8px;
  right: -10px;
  background: red;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 50%;
}
