.hero-slider {
  position: relative;
  width: 100%;
  height: 480px;
  overflow: hidden;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}

.slide.active {
  opacity: 1;
}

/* DOTS */
.slider-dots {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dot {
  width: 10px;
  height: 10px;
  background: rgba(0,0,0,0.4);
  border-radius: 50%;
  cursor: pointer;
}

.active-dot {
  background: white;
  border: 2px solid black;
}
